{
  "presets": [
    [
      "env", {
        "modules": false,
        "loose": true,
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread", "external-helpers"]
}
