{
  "presets": [
    [
      "env",
    {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
